body,html {
    margin:0px;
    padding:0px;
    border:0px;
    width: 100%;
    height: 100%;
}

canvas{
	background-image: url('img/background.png');
	height: 100%;
	width: 100%;
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

#box1 {
  position: absolute;
  height: 35vw;
  width: 25vw;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

#logo {
  content:url('logo.png');

  position:absolute;
  height:28/3.75vw;
  width:100%;
  top:0%;
  left:50%;
  transform: translate(-50%, 0);

  z-index: 2;
}

.c1 {
  border-radius: 1%;
  border: 10px solid;
  border-color: #f1c232;
  background: #88B053;
}

#main {
  position: absolute;
  height:75%;
  width:100%;
  top:65%;
  left:50%;
  transform: translate(-50%, -50%);

  z-index:3;
  margin: 0 auto;
}

#ctrlspage {
  font-family: Courier New, Courier New, sans-serif;
  color: white;
  text-align: center;

  visibility:hidden;
}

#ctrlshead {
  font-size:2vw;
  position: absolute;
  height: 3vw;
  width: 20vw;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ctrlstxt {
  white-space: pre;
  font-size:1.5vw;
  position: absolute;
  height: 12vw;
  width: 20vw;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
}

#creditspage {
  font-family: Courier New, Courier New, sans-serif;
  color: white;
  text-align: center;

  visibility:hidden;
}

#creditshead {
  font-size:2vw;
  position: absolute;
  height: 3vw;
  width: 20vw;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#creditstxt {
  white-space: pre;
  font-size:1vw;
  position: absolute;
  height: 12vw;
  width: 20vw;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
}

input[type=text]{
	border: 1px solid #f1c232;
	background: white;
	color: #7d7d7d;
  font-size:2vw;
  font-family: Courier New, Courier New, sans-serif;

  position: absolute;
  height: 3vw;
  width: 18vw;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type=button]{
	border: 0px solid #88B053;
  border-radius: 0px;
  background: #88B053;
	background-image: url('img/button.png');
	text-align: center;
	cursor: pointer;
  font-size:2vw;
  font-family: Courier New, Courier New, sans-serif;
}

#startb {
  position: absolute;
  height:4vw;
  width:18vw;
  top:42%;
  left:50%;
  transform: translate(-50%, -50%);
}

#ctrls {
  position: absolute;
  height:4vw;
  width:18vw;
  top:60%;
  left:50%;
  transform: translate(-50%, -50%);
}

#credits {
  position: absolute;
  height:4vw;
  width:18vw;
  top:78%;
  left:50%;
  transform: translate(-50%, -50%);
}

#ctrlsback {
  position: absolute;
  height:4vw;
  width:18vw;
  top:78%;
  left:50%;
  transform: translate(-50%, -50%);
}

#creditsback {
  position: absolute;
  height:4vw;
  width:18vw;
  top:78%;
  left:50%;
  transform: translate(-50%, -50%);
}
